h1 {
  color: white;
  font-family: Orbitron;
}
p {
  font-family: Roboto;
  color: white;
}
div {
  background-color: midnightblue;
  width: 550;
  font-size: 28;
  text-align: center;
  display: block;
  margin: auto;
}
#image123 {
  margin: auto;
  display: block;
}
body{
  background-image: url(https://a2ua.com/cosmos/cosmos-012.jpg);
}
